body {
  font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfloat:after {
  content: "";
  display: table;
  clear: both;
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:hover,
a:active {
  text-decoration: underline;
  color: red;
}
/*页头*/
body {
  font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfloat:after {
  content: "";
  display: table;
  clear: both;
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:hover,
a:active {
  text-decoration: underline;
  color: red;
}
/*header*/
.header_top {
  box-shadow: 0 5px 5px -5px;
}
.header_top > p {
  display: inline-block;
  margin: 12px 0;
}
.header_top ul li {
  float: left;
  line-height: 40px;
}
.header_top ul li span {
  margin: 0 5px;
}
.header_top ul li:last-child {
  padding-right: 15px;
  background: url("../images/header.gif") 19px 0 no-repeat;
  position: relative;
}
.currencies {
  display: none;
  line-height: 16px;
  width: 143px;
  height: 114px;
  border: 1px solid #4cf;
  border-top: none;
  background: url("../images/header.gif") -58px 0 no-repeat;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 200;
}
.currencies a {
  display: inline-block;
  margin-left: 34px;
  padding-bottom: 3px;
}
.currencies a:first-child {
  padding-top: 13px;
}
.header_logo {
  margin-top: 25px;
}
.header_logo .logo {
  float: left;
  width: 340px;
  height: auto;
}
.header_logo .textRight {
  float: right;
  width: 415px;
}
.header_logo .textRight .payMethod {
  display: inline-block;
  width: 145px;
  height: 35px;
}
.header_logo .textRight .payMethod ul > li {
  float: left;
}
.header_logo .textRight .payMethod ul > li span {
  padding: 0 5px;
}
.header_logo .textRight .shipMethod {
  display: inline-block;
  width: 210px;
  height: 35px;
  float: left;
  padding-right: 25px;
  margin-right: 24px;
  border-right: 1px solid #ccc;
}
.header_logo .textRight .shipMethod ul > li {
  float: left;
}
.header_logo .textRight .shipMethod ul > li span {
  padding: 0 5px;
}
.header_logo .textRight > p {
  padding-top: 4px;
  margin-top: 6px;
  border-top: 1px solid #ccc;
}
nav {
  background: #125AE2;
  margin-top: 10px;
}
nav ul li {
  float: left;
}
nav ul li.active {
  background: #0148CF;
}
nav > .container ul li a {
  display: block;
  font-size: 13px;
  line-height: 34px;
  padding: 0 10px;
  color: #fff;
}
nav > .container ul li a:link,
nav > .container ul li a:visited {
  text-decoration: none;
}
nav > .container ul li a:hover,
nav > .container ul li a:active {
  text-decoration: underline;
  background: #0148CF;
}
#shadow {
  margin: 25px 0 26px 0;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 6px;
}
/*购物车*/
.shopping_cart {
  margin-top: 20px;
}
.cart_header {
  text-align: right;
  font-size: 14px;
  line-height: 36px;
}
.cart_header > button {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 36px;
  background: #125AE2;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
}
.cart_header > span {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.cart_header > span > em {
  font-style: normal;
  color: #125AE2;
}
.cart_header > span > strong {
  font-size: 18px;
  color: #125AE2;
}
.cart_con {
  margin: 10px 0;
  font-size: 14px;
}
.cartcon_title {
  line-height: 33px;
  background: #eee;
  border: 1px solid #ccc;
}
.cartcon_title > span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.cartcon_title > span:nth-child(1) {
  width: 80px;
}
.cartcon_title > span:nth-child(2) {
  width: 370px;
}
.cartcon_title > span:nth-child(3) {
  width: 120px;
}
.cartcon_title > span:nth-child(4) {
  width: 140px;
}
.cartcon_title > span:nth-child(5) {
  width: 130px;
  margin-right: 40px;
}
/*购物车列表*/
.cartcon_list h2 {
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid #ccc;
  border-top: none;
}
.cartcon_list h2 a {
  color: #125AE2;
}
.cartcon_list ul li {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}
.cartcon_list > ul > li > a,
.cartcon_list > ul > li > i,
.cartcon_list > ul > li > div,
.cartcon_list > ul > li > strong,
.cartcon_list > ul > li > em,
.cartcon_list > ul > li input {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
.cartcon_list > ul > li > a.cart_img {
  margin-left: 20px;
  border: 1px solid #eee;
  padding: 4px;
  width: 50px;
  height: 50px;
}
.cartcon_list > ul > li > a.cart_img:hover {
  border: 1px solid #ccc;
}
.cartcon_list > ul > li > a.cart_img img {
  max-width: 100%;
}
.cartcon_list > ul > li > .cart_title {
  width: 330px;
  margin: 0 20px;
  font-size: 14px;
  display: inline-block;
}
.cartcon_list > ul > li > .cart_title b {
  font-weight: normal;
}
.cartcon_list > ul > li > .cart_title a {
  display: block;
  height: 38px;
  overflow: hidden;
}
.cartcon_list > ul > li > i {
  width: 120px;
}
.cartcon_list > ul > li > strong {
  width: 140px;
  color: #125AE2;
}
.cartcon_list > ul > li > em {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 2px;
  width: 14px;
  height: 14px;
  background:url("../images/delete.png") no-repeat 2px 1px;
  cursor: pointer;
}
.cartcon_list > ul > li > em:hover {
  border: 1px solid #ccc;
}
.cartcon_list > ul > li > div {
  width: 140px;
}
.cartcon_list > ul > li > div span {
  width: 20px;
  height: 20px;
  background: #e8e8e8;
  text-align: center;
  line-height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.cartcon_list > ul > li > div span:hover {
  cursor: pointer;
  background: #eee;
}
.cartcon_list > ul > li > div input {
  width: 28px;
  height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
}
footer {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
}
