h1 {
  background: #F4F4F4;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  box-sizing: border-box;
}
.main {
  padding: 0 18px 18px 18px;
  border: 1px solid #ccc;
  border-top: none;
}
.main ul li {
  float: left;
  margin: 15px 6px;
  width: 180px;
}
.main ul li div {
  height: 14px;
  margin-top: 2px;
  color: #589320;
}
.main ul li a img {
  padding: 0 13px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
}
.main ul li .prInt {
  margin-top: 5px;
  height: 46px;
  overflow: hidden;
}
.main ul li .prModel {
  height: 16px;
  overflow: hidden;
  margin: 2px 0 4px 0;
}
.main ul li .pric {
  font-weight: bold;
  color: #900;
}
.main ul li .whPirce {
  margin-bottom: 3px;
}
/*分页导航*/
.pages {
  text-align: center;
}
.pages a {
  color: #999;
  box-sizing: border-box;
  height: 20px;
  min-width: 20px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0 2px;
  padding: 0 4px;
  line-height: 18px;
}
.pages a:hover {
  border-color: #125AE2;
  color: #125AE2;
}
.pages a.cur {
  border-color: #125AE2;
  background: #125AE2;
  color: #fff;
}
.pages a.default {
  border-color: #bbb;
  background-color: #bbb;
  cursor: default;
}
