body {
  font: 12px "microsoft yahei", Arial, Helvetica, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}
.container {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfloat:after {
  content: "";
  display: table;
  clear: both;
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #333;
}
a:hover,
a:active {
  text-decoration: underline;
  color: red;
}
/*header*/
.header_top {
  box-shadow: 0 5px 5px -5px;
}
.header_top > p {
  display: inline-block;
  margin: 12px 0;
}
.header_top ul li {
  float: left;
  line-height: 40px;
}
.header_top ul li span {
  margin: 0 5px;
}
.header_top ul li:last-child {
  padding-right: 15px;
  background: url("../images/header.gif") 19px 0 no-repeat;
  position: relative;
}
.currencies {
  display: none;
  line-height: 16px;
  width: 143px;
  height: 114px;
  border: 1px solid #4cf;
  border-top: none;
  background: url("../images/header.gif") -58px 0 no-repeat;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 200;
}
.currencies a {
  display: inline-block;
  margin-left: 34px;
  padding-bottom: 3px;
}
.currencies a:first-child {
  padding-top: 13px;
}
/*header_logo*/
.header_logo {
  margin-top: 25px;
}
.header_logo div {
  float: left;
}
.header_logo .logo {
  width: 340px;
  height: auto;
}
.header_logo .search {
  width: 420px;
  height: auto;
}
.header_logo .search input {
  box-sizing: border-box;
  width: 330px;
  height: 30px;
  padding-left: 6px;
  border: 1px solid #bbb;
  border-right: none;
}
.header_logo .search button {
  width: 75px;
  height: 30px;
  box-sizing: border-box;
}
.header_logo .search p {
  width: 405px;
  height: 32px;
  overflow: hidden;
}
.header_logo .service {
  width: 195px;
}
.header_logo .service .online_box {
  box-sizing: border-box;
  margin-left: 50px;
  height: 60px;
  padding: 20px 0 0 50px;
  background: url("../images/header.gif") -50px -130px no-repeat;
}
.header_logo .service .online_box .online_wrap {
  position: relative;
}
.header_logo .service .online_box .online_wrap ul {
  background: linear-gradient(to bottom, #fff, #E3F0F8);
  background: -ms-linear-gradient(to bottom, #fff, #E3F0F8);
  background: -moz-linear-gradient(to bottom, #fff, #E3F0F8);
  padding: 8px 10px;
  border: 1px solid #44ccff;
  border-top: none;
  position: absolute;
  top: 26px;
  left: -69px;
  z-index: 200;
}
.header_logo .service .online_box .online_wrap li {
  padding: 5px 0;
}
.header_logo .service .online_box .online_wrap li:first-child,
.header_logo .service .online_box .online_wrap li:nth-child(3) {
  text-align: center;
  font-size: 14px;
}
/*页头导航条*/
nav {
  background: #125AE2;
}
nav ul li {
  float: left;
}
nav ul li.active {
  background: #0148CF;
}
nav > .container ul li a {
  display: block;
  font-size: 13px;
  line-height: 34px;
  padding: 0 10px;
  color: #fff;
}
nav > .container ul li a:link,
nav > .container ul li a:visited {
  text-decoration: none;
}
nav > .container ul li a:hover,
nav > .container ul li a:active {
  text-decoration: underline;
  background: #0148CF;
}
.cart {
  line-height: 34px;
}
.cart a:link,
.cart a:visited {
  text-decoration: none;
  color: #fff;
}
.cart a:hover,
.cart a:active {
  color: #fff;
  text-decoration: underline;
  background: #0148CF;
}
/*页尾*/
.footer1 {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.footer1 ul:nth-child(2) li {
  height: 30px;
  text-align: center;
}
.footer1 li {
  float: left;
}
.footer1 li span {
  margin: 0 8px;
}
.footer2 {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.footer2 .info {
  float: left;
  width: 340px;
  margin-right: 20px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.footer2 .info li {
  float: left;
  width: 160px;
  margin-bottom: 10px;
}
.footer2 .info li a {
  display: block;
}
.footer2 .info li p {
  font-weight: bold;
  margin-bottom: 2px;
}
.footer2 .subscribe {
  box-sizing: border-box;
  float: left;
  width: 360px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
.footer2 .subscribe > div {
  height: 32px;
  margin-bottom: 20px;
}
.footer2 .subscribe form {
  margin-top: 20px;
}
.footer2 .subscribe form label {
  font-weight: bold;
}
.footer2 .subscribe form input {
  height: 20px;
  width: 200px;
  border: 1px solid #C03139;
  margin-bottom: 10px;
}
.footer2 .subscribe form button {
  height: 28PX;
  width: 80px;
  color: #fff;
  background: #C03139;
  margin-left: 38px;
  border: none;
}
.footer2 .secures {
  width: 280px;
  box-sizing: border-box;
  float: left;
  padding-left: 20px;
}
.footer2 .secures P {
  margin: 5px 0;
  width: 260px;
  height: 32px;
}
.footer2 .secures P a {
  margin-right: 5px;
}
.footer2 .secures .tagList {
  margin-top: 20px;
}
.footer3 {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid #ccc;
}
